
body{
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: var(--color-body);
    color: var(--color-black);

    /* light mode */
    /* background colors */
    --color-body: rgba(91, 91, 190, 1);
    --color-container : #ecf0f3;
    --color-display-box: lightslategray;
    --color-digit-btn : lightgreen;
    --color-eval-btn : lightcoral;
    --color-controls-btn: #ecf0f3;
    --color-clear-btn : #ecf0f3;
    --color-theme-btn : rebeccapurple;

    /* text colors (end with color(eg: --color-btn-color) )*/
    --color-display-color:whitesmoke;
    --color-digit-color : rgb(51, 47, 47);
    --color-eval-btn-color: #ffffff;
    --color-controls-btn-color:rgb(70, 66, 66);
    --color-clear-btn-color : red;
    --color-theme-btn-color:whitesmoke;   

    --color-border : rgba(0,0,0,0.1);
    --color-shadow : #ffffff;
    --color-blink : lightgreen;
}

.dark-mode{
    /* background colors */
    --color-body: rgb(51, 47, 47);
    --color-container : rgb(102, 98, 99); 
    --color-display-box: rgba(87, 99, 207, 0.692);
    --color-digit-btn : rebeccapurple ;
    --color-eval-btn : rgb(28, 16, 136);
    --color-controls-btn: rgb(173, 169, 224);
    --color-clear-btn : rgb(243, 242, 247);
    --color-theme-btn : lightgreen ;

    /* text colors (end with color(eg: --color-btn-color) )*/
    --color-display-color:whitesmoke;
    --color-digit-btn-color : whitesmoke;
    --color-eval-btn-color : rgb(208, 208, 224);
    --color-clear-btn-color : rgb(50, 93, 185);
    --color-controls-btn-color: whitesmoke; 
    --color-theme-btn-color:rgb(51, 47, 47);   

    --color-border: rgb(127, 128, 131); 
    --color-shadow : rgb(208, 208, 224);
    --color-blink : rgb(58, 207, 212);

}

/************************* calculator container *****************************/
#calculator-container{
    height: 450px;
    width: 300px;
    border: 1px solid black;
    margin: auto;
    margin-top: 80px;
    border-radius: 20px;
    border: none;
    background-color: var(--color-container);                     
    box-shadow: 0 0 5px var(--color-shadow);
}
/************************* display box  *************************************/
#display-box{
    height: 90px;
    width: 89%;
    padding: 0 15px 5px;
    font-size: 2rem;
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
    background-color: var(--color-display-box);
    box-shadow:inset -5px -6px 10px rgba(0,0,0,.25),
               inset 5px 5px 10px rgba(0,0,0,.25) ;
    border-radius: 20px;
    border: 2px solid var(--color-border);
    color: var(--color-display-color);
    overflow: hidden;
}
#display-content{
    padding-right: 2px ;
    border-right: 1px solid var(--color-display-box);
    animation: blinking 1s infinite;
}
@keyframes blinking {
    50% {
        border-color: var(--color-blink);

    }
}
/************************* controls box (operators)  *************************************/
#controls-box{
    height: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;   
}
.controls,
.digits{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/************************* controls buttons (operator buttons)  *************************************/
button{
    box-shadow:-5px -5px 10px rgba(0,0,0,.16),
                5px 5px 10px rgba(0,0,0,.3);
}
button:hover{
    cursor: pointer;
    transform: scale(1.1);
}
/************************* buttons design  ***************************/
.controls-button,
.digits-button,
.clear-button,
.controls-evaluate-button{
    width: 40px;
    height: 40px;
    font-size: 1.1rem;
    font-weight: 600;
    border-radius: 50%; 
    border: none; 
}
/************************* controls button  *************************************/
.controls-button{
    color:var(--color-controls-btn-color);
    background-color: var(--color-controls-btn);
}

/************************* digit button  *************************************/
.digits-button{
    color:var(--color-digit-btn-color);
    background-color: var(--color-digit-btn);
}
/************************* evalute button  *************************************/
.controls-evaluate-button{
    background-color: var(--color-eval-btn);
    color: var(--color-eval-btn-color);
}
/************************* clear button  *************************************/
.clear-button{
    background-color: var(--color-clear-btn);
    color: var(--color-clear-btn-color);
    font-size: 1.3rem;
}
/************************* theme button  *************************************/
.theme-button{
    width: 60px;
    height: 35px;
    margin-left: -6px;
    font-size: 0.8rem;
    font-weight: 700;
    border-radius: 10px;
    background-color: var(--color-theme-btn); 
    color: var(--color-theme-btn-color);
    border: none; 
}


/* **************************  Completed     ******************************* */